Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Werkzeug
python-dotenv

numpy
pandas
Pillow
opencv-python

SpeechRecognition
pyttsx3
gTTS
PyAudio

torch
torchvision
torchaudio
transformers

langchain
langchain-community

requests

pyautogui
psutil

scikit-learn

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

twilio
schedule